@import "../../styles/user-page.scss";
.recommendation image { display:block; width:100%; height:300rpx; margin-top:22rpx; border-radius:16rpx; }.small-button { margin:0; padding:10rpx 14rpx; color:#7773E8; background:#EEEDFF; border-radius:12rpx; font-size:19rpx; }.suggestions { display:flex; flex-wrap:wrap; }
