@import "../../styles/user-page.scss";
.stars { display:flex; gap:18rpx; margin:30rpx 0; }.stars text { color:#D8D7E1; font-size:48rpx; }.stars text.active { color:#7773E8; }textarea { width:100%; min-height:180rpx; padding:20rpx; box-sizing:border-box; background:#F7F7FB; border-radius:14rpx; color:#3A3846; font-size:21rpx; }
