@import "../../styles/user-page.scss";
.address { position:relative; }.address text:nth-child(2) { display:block; color:#3A3846; font-size:25rpx; margin-top:20rpx; }.address .accent { display:block; margin-top:18rpx; }
